#info{
    background-color: white;
    font-style: italic;
    border-color: red;
    border-width: 2px;
}

#overlay{
    background-color: red;
    opacity: 0.2;
    grid-column: 1/9;
    grid-row: 1/9;
    
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
}


#base{
    width: 99.2vw;
    grid-column: 1/9;
    grid-row: 1/9;
}

.spiderman{
    z-index: 7;
    grid-column: 2/4;
    grid-row: 3/8;
    width: 18vw;
}

#spider{
    width: 170%;
}

#texto{
    font-size: 3rem;
    color: white;
    grid-column: 5/9;
    grid-row: 5/6;
    z-index: 7;
}

#texto2{
    font-size: 25px;
}

#footer1{
    background-color: rgba(226, 38, 38, 0.904);
}

